.button {
    width: 160px;
    height: 50px;
    background: #76a713;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    text-transform: uppercase;
    &:hover {
        background-color: #619001;
    }
    &_mini {
        width: 100px;
        height: 40px;
    }
    &_orange {
        width: 120px;
        height: 40px;
        background: #ff6600;
        &:hover {
            background-color: #e45b00;
        }
    }
    &_blue {
        width: 120px;
        height: 40px;
        background: #3498db;
        &:hover {
            background-color: #0378c7;
        }
    }
    &_products {
        width: 120px;
        height: 40px;
        margin-top: 10px;
    }
    &_subscr {
        width: 150px;
        height: 40px;
        background: #ff6600;
        &:hover {
            background-color: #e45b00;
        }
    }
}
