.header {
    min-height: 600px;
    background-image: url(../../img/header-BG.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    overflow: hidden;
    padding: 63px 0 0 0;
    &__title {
        font-family: Oswald;
        font-style: normal;
        font-weight: 500;
        font-size: 75px;
        line-height: 119px;
        color: #191d28;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__word {
        color: green;
    }
    &__img {
        display: inline-block;
        margin-left: -55px;
    }
    &__second-col {
        display: flex;
        align-items: center;
    }
}
